<!DOCTYPE html>
<html>
<head>
  <title>A Winrate Tool That Explains Itself</title>
  <script src="static/d3.v5.min.js"></script>
  <script src="static/d3-interpolate.v1.min.js"></script>
  <script src="static/awesomplete.js"></script>
  <link rel="stylesheet" href="static/awesomplete.css">
  <link rel="stylesheet" href="static/styles/main.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/styles/aram-win-predictor.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" crossorigin="anonymous">

  <script src="static/jquery/jquery-3.3.1.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <script src="static/bootstrap/js/bootstrap.js"  crossorigin="anonymous"></script>
</head>
<body>
  <!-- Start body container -->
  <div class="container">

    <script type="text/javascript" src="/assets/js/awesomplete.js"></script>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-default fixed-top navbar-light" role="navigation">
      <div class="container nav-container">
        <a class="navbar-brand" href="/index.html"><img src="/assets/dorans-lab-logo-type.png" alt="Doran's Lab logotype"></a>
        <button class="navbar-toggler collapsed hamburger hamburger--squeeze" data-toggle="collapse" data-target=".navbar-collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <!-- Hamburger to X animation -->
        <script>
          var $hamburger = $(".hamburger");
          $hamburger.on("click", function(e) {
            $hamburger.toggleClass("is-active");
            // Do something else, like open/close menu
          });
        </script>

        <div class="navbar-collapse collapse justify-content-end">
          <ul class="nav navbar-nav navbar-right right">
            <li class="nav-item">
              <a class="nav-link" href="/learn.html">Learn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tools.html">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
       
    <div class="row mobile-padding article-header-container standard-margin-top">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 ">
        <h1 class="article-title">A Winrate Tool That Explains Itself</h1>

        <br>

        <h4 class="side-info center">A predictive model that lets you peer inside to see its inner workings</h4>

        <div class="col-12 center">
          <!-- <a href="/articles/behind-the-aram-win-predictor.html" class="btn tool-button">Read the full post</a> -->
          <p style="font-family: stratum-bold; color: #a19da8; font-size: 17px;">(Companion article coming soon!)</p>
          <h4 class="article-pips center">Hongjian Y. - Last Updated August 21, 2018</h4>
          <!-- Share on social media -->
        <div class="row col-12 social-row no-margin">
            <div style="margin:auto;">
                <div style="float:left;">
                    <div class="fb-share-button" data-href="http://www.doranslab.gg/articles/aram-mobile.html" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.doranslab.gg%2Farticles%2Faram-mobile.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img style="padding-right:3px;margin-bottom:6px;margin-right:15px;width:60px;" src="/assets/icons/facebook-share-27.png"></img></a></div>
                </div>
                <div style="float:left;">
                    <a style="padding-left:3px;" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <!-- End social media -->
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-2"></div>
      
      <div class="col-2" style="text-align: center;">
        <svg width="18" height="18" style="display: block; margin: auto; margin-right: -20px;">
          <g>
            <polygon points="18,0 18,18 0,9" class="champ-select-arrows" id="left-arrow" onclick="previousChampion();"/>
            <rect class="btn" x="0" y="0" width="18" height="18" onclick="previousChampion();" style="fill: rgba(0,0,0,0);"></rect>
          </g>
        </svg>
      </div>

      <div class="col-4" style="text-align: center;"> 
        <input id="myinput" class="current-champion" value="Aatrox" style="text-align: center; float: center;"/>
      </div>

      <div class="col-2">
        <svg width="18" height="18" style="display: block; margin: auto; margin-left: 1px !important;">
          <g>
            <polygon points="0,0 0,18 18,9" class="champ-select-arrows" id="right-arrow"onclick="previousChampion();"/>
            <rect class="btn" x="0" y="0" width="18" height="18" onclick="nextChampion();" style="fill: rgba(0,0,0,0);"></rect>
          </g>
        </svg>
      </div>

      <div class="col-2"></div>
    </div>

    <div class="row col-12">
      <div id="content"></div>
    </div>

    <!-- <div class="row col-12">
      <div class="legend-and-fun-fact-wrapper" style="margin-top: 8px; height: 80px;">
        <p id="fun-fact" style="padding: 15px; font-family: radnika-semibold; margin-bottom: -1px;">Generic text for Lisa</p>
      </div>
    </div> -->

        <div class="row">
          <div class="col-2">
            <div class="checkbox">
              <svg width="18" height="18">
                <g>
                  <rect id="confidence-interval-checkbox" class="btn" x="0" y="0" width="18" height="18" onclick="updateConfidenceIntervals();" style="fill: rgba(150,0,150,.3);"></rect>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-10">
            <p class="radio-labels">Show confidence intervals</p>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
          <div class="checkbox">
            <svg width="18" height="18">
              <g>
                <rect id="sample-size-checkbox" class="btn" x="0" y="0" width="18" height="18" onclick="updateSampleSize();" style="fill: rgba(150,0,150,.3);"></rect>
              </g>
            </svg>
          </div>
        </div>
        <div class="col-10">
          <p class="radio-labels">Show sample size</p>
        </div>
      </div>

<!--       <div class="row">
          <div class="col-2">
          <div class="checkbox">
            <svg width="18" height="18">
              <g>
                <rect id="which-tier-to-toggle-mouseover" class="btn" x="0" y="0" width="18" height="18" onclick="toggleMouseoverTier();" style="fill: rgba(150,0,150,.3);"></rect>
              </g>
            </svg>
          </div>
        </div>
        <div class="col-10">
          <p class="radio-labels">Mouseover on Bronze-Gold Tier</p>
        </div>
      </div> -->
        
      <div class="row">
        <div class="col-12">
          <div class="legend-and-fun-fact-wrapper">
            <div class="row" style="padding-top: 17px;">
              <div class="col-6"><p class="winrate-legend-text">Bronze - Gold</p></div>
              <div class="col-6"><div id="bronzegoldbox"></div></div>
            </div>
            <div class="row">
              <div class="col-6"><p class="winrate-legend-text">Platinum +</p></div>
              <div class="col-6"><div id="platniumbox"></div></div>
            </div>
          </div>
        </div>
      </div>


      <br><br>


      <div class="row">
        <div class="col-12">
          <div class="legend-and-fun-fact-wrapper">
            <div class="row">
              <div class="col-12">
                <p style="text-align: center;">Games remaining</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><p class="games-remaining-legend-text">Bronze - Gold</p></div>
              <div class="col-6"><div id="gamesremainingbronzegold"></div></div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-6"><p class="games-remaining-legend-text">Platinum +</p></div>
                  <div class="col-6"><div id="gamesremainingplatnium"></div></div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>



</div>
  <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <p class="footer-header">Don't sue us</p>
                    <p class="footer-disclaimer">Doran's Lab isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends or Riot Games are trademarks or registered trademarks of Riot Games, Inc. Copyright Riot Games, Inc.</p>
                    <p class="copyright">Copyright 2018 <a class="outlink" href="http://www.laber-labs.com/"><u>Laber Labs</u></a></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-3">
                    <p class="footer-header">Contact us</p>
                    <!-- <a href="mailto:doranslab.gg@gmail.com"><p class="outlink mail-to">doranslab.gg@gmail.com</p></a>
                    <a href="mailto:doranslab.director@gmail.com"><p class="outlink mail-to">doranslab.director@gmail.com</p></a> -->
                    <a href="https://www.facebook.com/DoransLab/"><img class="social-icon" src="/assets/icons/facebook-black.svg" alt="Facebook icon"></a>
                    <a href="https://twitter.com/doranslab"><img class="social-icon" src="/assets/icons/twitter-black.svg" alt="Twitter icon"></a>
                </div>
                <div class="col-lg-2 offset-lg-3 col-md-3 col-sm-4 footer-right">
                    <img class="footer-logo" src="/assets/icons/footer-logo.png" alt="Doran's Lab icon">
                </div>
            </div>
        </div>
    </footer>

<script src="static/winrate_mobile.js"></script>
</body>
<link rel="stylesheet" type="text/css" href="static/winrate-mobile.css">
</html>