.tool-thumbnail {
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.3);
        }

.tool {
    border-bottom: dashed .5px black; 
    padding: 25px;
}

.tool-thumbnail {
    width: 100%; 
    height: auto; 
    margin-left: -38px;
}

.tool h3 {
    font-family: radnika-black; 
    text-align: left; 
    font-size: 24px;
} 

.tool .tool-synopsis {
    font-family: radnika-condensed;
    font-size: 12px;

}

.tool .last-updated {
    color: gray; 
    font-family: radnika-condensed;
    font-size: 12px;
}